<form
  (ngSubmit)="
    register(
      lineSelect.value,
      trainNumber.value,
      noticeDateInput.value,
      cancelDecisionTime.value,
      noticeEmailInput.value
    )
  "
>
  <p style="margin-bottom: 0">
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>路線</mat-label>
      <mat-select
        placeholder="例：琵琶湖線"
        name="line"
        [(value)]="lineName"
        #lineSelect
        required
      >
        @for (area of this.trainService.getAreas(); track area) {
          @for (line of area.lines; track line) {
            <mat-option [value]="line.linename">
              {{ area.label }} {{ line.label }}線 ＜{{ line.section }}＞
            </mat-option>
          }
        }
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>列車番号（完全一致）</mat-label>
      <input
        name="trainNumber"
        matInput
        placeholder="例：う4001M"
        required
        #trainNumber
      />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>通知日</mat-label>
      <input
        type="text"
        name="noticeDate"
        matInput
        [matDatepicker]="noticeDatePicker"
        required
        #noticeDateInput
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="noticeDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #noticeDatePicker></mat-datepicker>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>運休と判断する時刻</mat-label>
      <input
        type="time"
        name="cancelDecisionTime"
        matInput
        placeholder="hh:mm"
        #cancelDecisionTime
      />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>通知先メールアドレス</mat-label>
      <input
        type="email"
        name="noticeEmail"
        matInput
        placeholder="hoge@example.com"
        required
        [(ngModel)]="noticeEmail"
        #noticeEmailInput
      />
    </mat-form-field>
  </p>

  <button class="register-button" mat-raised-button color="primary">
    登録
  </button>
</form>
