.delay {
  color: #e74c3c;
}
.over-delay {
  color: white;
  background-color: #e74c3c;
}

.type-change-text {
  color: black;
}

.type.express {
  color: red;
}
.type.s-rapid {
  color: blue;
}
.type.rapid {
  color: #f39c12;
}
.type.regional {
  color: #2ecc71;
}
.type.yamatoji {
  color: #27ae60;
}
.type.miyakoji {
  color: brown;
}
.type.kixkishu {
  color: orange;
}
.type.kix {
  color: #3498db;
}
.type.kishu {
  color: orange;
}
.type.tambaji {
  color: #f1c40f;
}
.type.direct {
  color: #f39c12;
}

.refresh-button {
  z-index: 1000;
  position: fixed;
  bottom: 5%;
  right: 2.5%;
}

.notice-register-button {
  z-index: 1000;
  position: fixed;
  bottom: 5%;
  right: 7%;
}
