.delay {
  color: #e74c3c;
}
.over_delay {
  color: white;
  background-color: #e74c3c;
}

.typeChangeText {
  color: black;
}

.type.express {
  color: red;
}
.type.s-rapid {
  color: blue;
}
.type.rapid {
  color: #f39c12;
}
.type.regional {
  color: #2ecc71;
}
.type.yamatoji {
  color: #27ae60;
}
.type.miyakoji {
  color: brown;
}
.type.kixkishu {
  color: orange;
}
.type.kix {
  color: #3498db;
}
.type.kishu {
  color: orange;
}
.type.tambaji {
  color: #f1c40f;
}
