:host {
  display: block;
  margin: 1rem 1.25rem;
}

// 見出し (路線名)
header {
  color: #555;
  font-size: 0.9rem;
}

// 列車リスト
ul.trains {
  list-style-type: none;
  padding: 0 0 0 0;

  // 各列車
  li.train {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    gap: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;

    .train-rows {
      display: flex;
      flex-direction: column;

      .train-summary {
      }

      // 走行位置・遅れ
      .position-and-delay {
        font-size: 0.85rem;
      }

      // 備考
      .note {
        font-size: 0.85rem;
      }
    }
  }
}

// 列車の遅延
.delay {
  color: #e74c3c;
}
.over-delay {
  color: white;
  background-color: #e74c3c;
}

// 列車の種別
.type-change-text {
  color: black;
}

.type.express,
.type.sleeper {
  color: red;
}
.type.s-rapid {
  color: blue;
}
.type.rapid {
  color: #f39c12;
}
.type.regional {
  color: #2ecc71;
}
.type.yamatoji {
  color: #27ae60;
}
.type.miyakoji {
  color: brown;
}
.type.kixkishu {
  color: orange;
}
.type.kix {
  color: #3498db;
}
.type.kishu {
  color: orange;
}
.type.tambaji {
  color: #f1c40f;
}
.type.direct {
  color: #f39c12;
}

// 右下のボタン
.fabs {
  z-index: 1000;
  position: fixed;
  bottom: 5%;
  right: 2.5%;
}

.fabs button {
  display: block;
  margin-top: 1rem;
}
