<mat-list>
  <div mat-subheader>{{ this.line.label }}線 ＜{{ this.line.section }}＞</div>
  <ng-container>
    <mat-list-item *ngFor="let train of trains">
      <mat-icon mat-list-icon>train</mat-icon>
      <div mat-line>{{ train.no }}</div>
      <div mat-line>
        <span
          [ngClass]="{
            express: train.displayType.match('特急'),
            sleeper: train.displayType == '寝台',
            's-rapid': train.displayType.match('新快'),
            rapid: train.displayType == '快速',
            regional: train.displayType == '区間快速',
            yamatoji: train.displayType == '大和路快',
            miyakoji: train.displayType == 'みやこ路快速',
            kixkishu: train.displayType == '関空紀州',
            kix: train.displayType == '関空快速',
            kishu: train.displayType == '紀州路快',
            tambaji: train.displayType == '丹波路快',
            direct: train.displayType == '直通快速'
          }"
          class="type"
        >
          {{ train.displayType }}
         <!-- <ng-container *ngIf="train.typeChange">
            <span class="type-change-text"> ({{ train.typeChange }}) </span>
          </ng-container> -->
        </span>
        <span *ngIf="train.nickname">
          {{ train.nickname }}
        </span>
        |
        <ng-container *ngIf="train.dest">
          <ng-container *ngIf="train.via">
            <span>
              {{ train.via }}
            </span>
          </ng-container>
          <span>
            {{ train.dest }}
          </span>
        </ng-container>
        <span *ngIf="train.numberOfCars">({{ train.numberOfCars }}両)</span>
      </div>
      <div mat-line>{{ train.positionText }} {{ train.directionText }}</div>
      <div mat-line *ngIf="train.delayMinutes != 0">
        <ng-container *ngIf="train.delayMinutes == 61" class="over-delay">
          1時間以上遅れ
        </ng-container>
        <ng-container *ngIf="train.delayMinutes != 61" class="delay">
          {{ train.delayMinutes }}分遅れ
        </ng-container>
      </div>
      <div mat-line *ngIf="train.delayMinutes == 0">定刻</div>
      <ng-container [ngSwitch]="train.typeChange" class="type-change-text">
        <div *ngSwitchCase="'「Ａシート」は9号車（有料座席）'">
          備考：{{ train.typeChange }}
        </div>
        <div *ngSwitchCase="'運転日により停車駅が異なります'">
          備考：{{ train.typeChange }}
        </div>
      </ng-container>
    </mat-list-item>
  </ng-container>
</mat-list>

<div class="fabs">
  <button
    class="notice-register-button"
    routerLink="/notice"
    [queryParams]="{ line: line.linename }"
    mat-fab
    color="primary"
  >
    <mat-icon>notifications</mat-icon>
  </button>

  <button
    class="refresh-button"
    (click)="this.loadTrains()"
    mat-fab
    color="primary"
  >
    <mat-icon>refresh</mat-icon>
  </button>
</div>
