<mat-accordion>
  <!-- 各エリア -->
  @for (area of this.trainService.getAreas(); track area) {
    <mat-expansion-panel hideToggle>
      <!-- エリア名 -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ area.label }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- エリア内の路線リスト -->
      <ul class="lines">
        <!-- 各路線 -->
        @for (line of area.lines; track line) {
          <li class="line">
            <mat-icon>train</mat-icon>
            <div class="line-rows">
              <!-- 路線名 -->
              @if (line.character) {
                <a routerLink="lines/{{ line.linename }}" class="line-name"
                  >[{{ line.character }}]{{ line.label }}線</a
                >
              } @else {
                <a routerLink="lines/{{ line.linename }}" class="line-name"
                  >{{ line.label }}線</a
                >
              }

              <!-- 路線区間 -->
              <div class="section">{{ line.section }}</div>
            </div>
          </li>
        }
      </ul>
    </mat-expansion-panel>
  }
</mat-accordion>
