<h1>【注意事項】</h1>
<ul>
  <li>本アプリは各鉄道会社様とは一切関係ありません</li>
  <li>本アプリに関する問い合わせを各鉄道会社様になさらないでください</li>
  <li>
    本アプリを使用したことにより生じた損害については作者は補償する義務を一切負いません
  </li>
</ul>
<mat-list>
  <ng-container *ngFor="let area of this.trainService.getAreas()">
    <div mat-subheader>{{ area.label }}</div>
    <mat-list-item *ngFor="let line of area.lines">
      <mat-icon mat-list-icon>train</mat-icon>
      <a routerLink="lines/{{ line.linename }}" mat-line>{{ line.label }}線</a>
      <div mat-line>{{ line.section }}</div>
    </mat-list-item>
  </ng-container>
</mat-list>
