<mat-accordion>
  <!-- 各エリア -->
  <ng-container *ngFor="let area of this.trainService.getAreas()">
    <mat-expansion-panel hideToggle>
      <!-- エリア名 -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ area.label }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- エリア内の路線リスト -->
      <ul class="lines">
        <!-- 各路線 -->
        <li class="line" *ngFor="let line of area.lines">
          <mat-icon>train</mat-icon>

          <div class="line-rows">
            <!-- 路線名 -->
            <a
              routerLink="lines/{{ line.linename }}"
              *ngIf="line.character"
              class="line-name"
              >[{{ line.character }}]{{ line.label }}線</a
            >
            <a
              routerLink="lines/{{ line.linename }}"
              *ngIf="!line.character"
              class="line-name"
              >{{ line.label }}線</a
            >

            <!-- 路線区間 -->
            <div class="section">{{ line.section }}</div>
          </div>
        </li>
      </ul>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>
