<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let area of this.trainService.getAreas()">
      <div mat-subheader>{{ area.label }}</div>
      <button
        mat-menu-item
        *ngFor="let line of area.lines"
        routerLink="lines/{{ line.linename }}"
      >
        {{ line.label }}線
      </button>
    </ng-container>
  </mat-menu>
  <a routerLink="/">JR-trainformation</a>
  <span class="spacer"></span>
  <span *ngIf="weather" class="pc-weather">
    {{ weather.location.city }}の{{ weather.forecasts[1].date }}の天気：
    <img
      src="{{ weather.forecasts[1].image.url }}"
      matTooltip="{{ weather.description.text }}"
    />
  </span>
  <span *ngIf="weather" class="sp-weather">
    <img
      src="{{ weather.forecasts[1].image.url }}"
      matTooltip="{{ weather.description.text }}"
    />
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
