<h2 mat-dialog-title>利用規約</h2>
<mat-dialog-content class="mat-typography">
  <ul>
    <li>本アプリは各鉄道会社様とは一切関係ありません</li>
    <li>本アプリに関する問い合わせを各鉄道会社様にすることはおやめください</li>
    <li>
      本アプリを使用したことにより生じた損害について、作者は補償する義務を一切負いません
    </li>
    <li>
      通知メールが届かない場合や、表示内容に誤りが生じる場合がありますので、あくまで参考としてご利用ください
    </li>
    <li>
      作者は利用者からの本サービスに対するクレームを一切受け付けないものとします
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>
